@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
    scroll-behavior: smooth;
}

#wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
}

.logo-container {
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.nav-logo {
    width: 80px;
}

.logo-text {
    margin-left: -1.2rem;
    font-size: 28px;
}
.nav-items {
    display: flex;
    gap: 2rem;
    padding: 0 4em;
}
.nav-items div {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.nav-items div a {
    color: black;
}
a {
    text-decoration: none;
}
.nav-items:hover {
    transition: 0.8s;
    font-weight: bold;
}
.btn-pink {
    background-color: #e84949;
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
}
.btn-pink::before {
    content: "";
    position: absolute;
    background-color: white;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
}
.btn-pink:hover::before {
    transform: scaleX(1);
}
.btn-pink:hover {
    border: solid 3px #e84949;
    color: black;
}

.hero-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}
.faded-text {
    position: absolute;
    user-select: none;
    font-size: 7em;
    color: rgb(231, 231, 231);

    bottom: -16%;
    left: -5%;
    font-weight: bold;
    transition: all 3s;
}
.left-hero-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}
.hero-section-heading {
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}
.role {
    color: #4e45d5;
    font-weight: 800;
}
.hero-section-sub-heading {
    font-size: 45px;
    line-height: 45px;
}

.hero-section-description {
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

.right-hero-section {
    position: relative;
}

.absolute {
    position: absolute;
}
.user-image {
    padding: 2.5rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
}

.user-image img {
    z-index: -9;
}
@keyframes scaleImage {
    0% {
        filter: grayscale(0);
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
        filter: grayscale(1);
        box-shadow: 3px 3px 10px black;
    }

    100% {
        transform: scale(1);
        filter: grayscale(0);
    }
}

.icon-dots {
    z-index: 9;
    bottom: -1rem;
    right: 0;
    animation-name: dotsAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes dotsAnimation {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}

.icon-cube {
    z-index: 9;
    top: -0.8em;
    right: 1em;
    animation-name: cubeRotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes cubeRotate {
    0% {
        transform: rotateY(0deg) translateY(0px);
    }
    50% {
        transform: rotateY(180deg) translateY(-12px);
    }
    100% {
        transform: rotateY(360deg) translateY(0px);
    }
}

.icon-circle {
    z-index: 9;
    left: 0;
    bottom: 0;
    animation-name: shakeEffect;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes shakeEffect {
    50% {
        left: 5%;
        bottom: 10%;
    }
}

.icon-zigzag {
    z-index: 9;
    top: 1.5em;
    left: -0.3em;
    animation: zigzagAnimation 5s ease-in infinite;
}

@keyframes zigzagAnimation {
    50% {
        left: 5%;
        top: 2%;
    }
}
.icon-plus {
    z-index: 9;
    top: -0.8rem;
    left: 50%;
    animation: shakeEffectPlus 5s ease-in infinite;
}

@keyframes shakeEffectPlus {
    50% {
        top: 3%;
        left: 48%;
    }
}

.btn-pink {
    background-color: #e84949;
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
}
.btn-pink::before {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
}
.btn-pink:hover::before {
    transform: scaleX(1);
}
.btn-pink:hover {
    border: solid 3px #e84949;
    color: black;
}
.project-section {
    background-color: rgb(231, 231, 231);
    margin-top: 4rem;
}
.page-heading {
    color: orangered;
    font-size: 90px;
    text-align: center;
    padding-top: 30px;
}
.project-container {
    width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.project-card {
    width: 90%;
    position: relative;
    height: 550px;
    background: url(images/projects/Project1.png);
    background-size: cover;
    box-shadow: 0px 0px 40px #1f1f1f;
}
.project-card::after {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: #1f1f1f9a;
    z-index: 0;
    transform: scaleX(1);
}

.project-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(45deg, #343d68, #343d64be, #343d647c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index: 1;
}
.project-card:hover::before {
    transform: scaleX(1);
}
.project-number {
    position: absolute;
    font-size: 150px;
    font-weight: 600;
    color: white;
    z-index: 10;
    opacity: 0;
    transition: all 0.8s;
}
.project-card:hover {
    transform: scale(1);
}

.project-card:hover .project-number {
    /* display: block; */
    opacity: 1;
    transform: scale(1.1);
}
.project-card:hover .project-content {
    transform: scale(1.1);
}
.project-number-right {
    right: -40px;
    top: -45px;
}
.project-number-left {
    left: -40px;
    top: -45px;
}

.project-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2rem;
    bottom: 20%;
    z-index: 5;
    gap: 1em;
    transition: all 0.4s;
}
.project-content-left {
    left: 10%;
}

.project-content-right {
    right: 10%;
}
.project-header {
    font-size: 65px;
}
.project-skills-container {
    width: 60%;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}
.project-skill {
    width: 40px;
}
.project-content:hover {
    transform: scale(1);
}
#project1 {
    background: url(images/projects/Project1.png);
    background-size: cover;
}
#project2 {
    margin-left: 120px;
    background-size: cover;
    background: url(images/projects/Project2.png);
}
#project3 {
    background-size: cover;
    background: url(images/projects/Project3.png);
}
#project4 {
    margin-left: 120px;
    background-size: cover;
    background: url(images/projects/Project4.png);
}
.section3-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 8em 0;
    position: relative;
    gap: 2em;
}
.section3-content {
    width: 50%;
    display: block;
}
.section3-heading {
    display: flex;
    color: red;
    line-height: 45px;
}
.section3-heading span {
    font-size: 80px;
}
.section3-heading div {
    font-weight: 600;
    font-size: 40px;
}

.section3-sub-heading p {
    margin: 15px 0;
    text-align: justify;
}
.section3-icons {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
    gap: 2rem;
    justify-content: center;
}
.skill-fade-text {
    position: absolute;
    font-size: 15em;
    font-style: bold;
    color: rgb(231, 231, 231);
    bottom: -20.5%;
    right: -25%;
    user-select: none;
    overflow-y: hidden;
}
.blob-style {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -5;
    transform: translate(-50%, -50%);
    animation: blobAnimate 3s linear infinite;
}
@keyframes blobAnimate {
    50% {
        top: 54%;
        left: 46%;
    }
}
.skills-logo {
    width: 80px;
    height: 70px;
}
.skills-logo:hover {
    cursor: pointer;
    transition: all 0.5s;
    transform: scale(1.2);
}
.contact-me-container {
    width: 100%;
    background-color: rgb(231, 231, 231);
}
.contact-me-section {
    width: 1200px;
    margin: 0 auto;
    margin-top: 4.5em;
    padding: 2em;
}
.contact-me-header {
    margin: 4em;
}
.contact-me-header h1 {
    font-weight: 600;
    color: rgb(230, 57, 57);
    font-size: 4em;
}
.contact-me-header h2 {
    font-weight: bold;
    color: #474747;
    font-size: 2rem;
}
.contact-me-form {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    gap: 1.5em;
}
.contact-me-form div {
    display: flex;
    gap: 1em;
}
.input-field {
    padding: 0.51em;
    font-size: 25px;
}
.portfolio-footer {
    background-color: #282d52;
    height: 500px;
    position: relative;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-content {
    margin-top: 250px;
    display: flex;
    gap: 2em;
    color: white;
    font-size: 3em;
}
.nav-content div:hover {
    cursor: pointer;
    color: rgb(225, 56, 56);
    transform: scale(0.9);
    transition: all 0.4s;
}
.nav-icons {
    margin-top: 250px;
    display: flex;
    gap: 0.5em;
    font-size: 3em;
}
.nav-icons i:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: rgb(193, 62, 62);
    transition: all 0.4s;
}
.faded-text2 {
    position: absolute;
    user-select: none;
    font-size: 6em;
    color: rgb(108, 108, 108);

    bottom: -5%;
    left: 1%;
    font-weight: bold;
}
